<% layout('layout') -%>

<% block('title', 'Register') %>

<style>
    .vertical-container {
        height: 100vh;
        position: relative;
    }

    .vertical-container .vertical-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .register-page .row {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>

<div class="container vertical-container register-page">
    <div class="card-panel lighten-2 vertical-content">
        <div class="row">
            <form class="col s12" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <% if(typeof errors == 'object') { %>
                            <input id="username" type="text" value="<%= data.username %>" class="errors.hasOwnProperty('username') ? 'invalid' : ''" name="username">
                            <label for="username">Username</label>
                            <span class="helper-text" data-error="<%= errors.hasOwnProperty('username') ? errors.username.msg : ''%>"></span>
                        <% } else { %>
                            <input id="username" type="text" class="validate" name="username">
                            <label for="username">Username</label>
                            <span class="helper-text"></span>
                        <% } %>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <% if(typeof errors == 'object') { %>
                            <input id="email" type="email" value="<%= data.email %>" class="errors.hasOwnProperty('email') ? 'invalid' : ''" name="email">
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="<%= errors.hasOwnProperty('email') ? errors.email.msg : '' %>"></span>
                        <% } else { %>
                            <input id="email" type="email" class="validate" name="email">
                            <label for="email">Email</label>
                            <span class="helper-text"></span>
                        <% } %>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <% if( typeof errors == 'object') { %>
                            <input id="password" type="password" value="<%= data.password %>" class="<%= errors.hasOwnProperty('password') ? 'invalid' : '' %>" name="password">
                            <label for="password">Password</label>
                            <span class="helper-text" data-error="<%= errors.hasOwnProperty('password') ? errors.password.msg : '' %>"></span>
                        <% } else { %>
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">Password</label>
                            <span class="helper-text"></span>
                        <% } %>
                    </div>
                    <div class="input-field col s6">
                        <input id="confirmPassword" type="password" class="validate" name="confirmPassword">
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate" name="firstName" value="<%= typeof data == 'object' ? data.firstName : '' %>">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate" name="lastName" value="<%= typeof data == 'object' ? data.lastName : '' %>">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select name="sex" id="sex">
                            <option value="" disabled <%= typeof data == 'object' && (data.sex == '' || !data.sex) || typeof data != 'object' ? 'selected' : '' %>>Choose your option</option>
                            <option value="male" <%= typeof data == 'object' && data.sex == 'male' ? 'selected' : '' %>>Male</option>
                            <option value="female" <%= typeof data == 'object' && data.sex == 'female' ? 'selected' : '' %>>Female</option>
                        </select>
                        <label for="sex">Sex</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 right-align">
                        <button class="waves-effect waves-light btn" type="submit">Create</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <p>Already registered? <a href="/login">Sign In</a></p>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('select')
        const instances = M.FormSelect.init(elems, {})
        console.log(instances)
    })
</script>